*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
body, html{
    position: relative;
    height: 100%;
    width: 100%;
}
.center-loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader{
    height: 2rem;
}
.container{
    padding: 0 16px;
}
:root{
    --main-color: #24292e;
    --sec-color:  #586069;
    --white-color: #e1e4e8;
    --btn-color: #fafbfc;
    --link-color: #0366d6;
}
.d-none{
    display: none;
}
.btn{
    text-decoration: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
    padding: 0.3rem;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--btn-color);
    box-shadow: 0 1px 5px #ffffff;
    color: var(--main-color);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
}
.btn:hover{
    background-color: rgb(243, 244, 246);
}
span{
    color: var(--main-color);
    margin-left: 5px;
}
input, textarea, .status, .nav-input{
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--white-color);
    line-height: 1.5;
    font-size: 12px;
    color: var(--sec-color);
    align-self: center;
    padding: 6px 8px;
    margin: 8px 0;
}
.bg-green{
    background-color: #2ea44f;
    color: white;
}
.bg-green:hover{
    background-color: #2a9749;
}
.yellow{
    background-color: #f1e05a;
}
.purple{
    background-color: #563d7c;
}
.set{
    opacity: 0.4;
    cursor: default;
}
.bold{
    font-weight: 600;
    margin-left: 0.25rem;
}
/* Header */
#header{
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    height: 3.9rem;
    z-index: 32;
}
#header .iconify{
    color: white;
    font-weight: 600;
}
#logo .iconify:hover{
    color: #d1d5da;
    cursor: pointer;
}
#header #menu:hover, #bell:hover{
    color: #d1d5da;
}
#menu{
    font-size: 23px;
    cursor: pointer;
}
#bell{
    font-size: 16px;
    margin-top: 0.7rem;
}
.header-group:nth-child(2){
    width: 40px;
    height: 32px;
}
.header-group:nth-child(3) a{
    position: relative;
}

#logo{
    /* font-size: 105px; */
    display: flex;
    cursor: default;
    /* padding: 0 35%; */
    margin-top: 0rem;
    font-size: 32px;
}
header .notification{
    right: 0.5rem;
    top: 50px;
}
.notification{
    color: white;
    font-size: 11px;
    padding: 0.4rem;
    border-radius: 6px;
    position: fixed;
    background-color: var(--main-color);
}
.overlay{
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1745px;
    width: 100%;
    background-color: transparent;
}
.nav-dropdown{
    position: absolute;
    top: 7.9vh;
    background-color: white;
    width: 158px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 21px;
    z-index: 100;
    padding: 0.2rem 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
    border: 1px solid var(--white-color);
}
.nav-dropdown::after{
    top: -6px;
    right: 10px;
    left: auto;
    width: 10px;
    height: 10px;
    border-left: 1px solid var(--white-color);
    border-top: 1px solid var(--white-color);
    transform: rotateZ(45deg);
    position: absolute;
    display: inline-block;
    content: " ";
    background-color: white;
    z-index: -1;
}
.nav-dropdown:nth-child(1){
    right: 5.5vw;
}
.overlay:nth-child(5) .nav-dropdown{
    right: 2.2vw;
    width: 180px;
}
.overlay:nth-child(5) .nav-dropdown section{
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid var(--white-color);
}
.overlay:nth-child(5) .nav-dropdown section:nth-child(4){
    border: none;  
    padding-bottom: 0
}
.overlay:nth-child(5) .nav-dropdown section:nth-child(1){
    padding-left: 1rem;
    cursor: pointer;
    display: flex;
    padding-top: 0.3rem;
}
.nav-dropdown section .status{
    margin: 0 1rem;
    width: auto;
    height: 4.8vh;
}
.nav-dropdown-item{
    color: var(--main-color);
    padding: 0.25rem 0.5rem 0.25rem 1rem;
    cursor: pointer;
}
.nav-dropdown-item:hover{
    background-color: #1471db;
    color: white;
}
/* Nav */
nav{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px 16px;
    font-size: 14px;
    
}
nav .nav-input{
    font-size: 14px;
    min-height: 28px; 
    border: 1px solid hsl(0deg 0% 100% / 15%);
    line-height: 20px;
    outline: none;
    padding: 4px 8px 4px 12px;
    background-color: var(--main-color);
    margin-top: 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    color: rgb(202, 197, 197);
}
.nav-input img{
    margin-right: 0;
}

.nav-link{
    border-top: solid 1px hsl(0deg 0% 100% / 15%);
    text-decoration: none;
    font-weight: 600;
    color: white;
    line-height: 1.5;
    padding: 0.5rem 0;
}
.nav-link:nth-last-child(2){
    display: flex
}
.nav-link:hover{
    color: #d1d5da;
}
.nav-pic{
    margin-top: 0.2rem;
    margin-right: 0.3rem;
    width: 20px;
    height: 20px;
}
.nav-pic img{
    width: 100%;
    border-radius: 50%;
}

nav .iconify{
    vertical-align: middle;
    font-weight: 600;
    text-align: left;
    margin-top: -0.1rem;
    margin-right: 0.2rem;
    width: 1rem;
    height: 1rem;
}


/* Profile */
#profile{
    color:  #24292e;
    display: flex;
    flex-direction: column;
    padding-bottom: 5.5vh;
}
#profile-info{
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* margin-bottom: 24px; */
}
#profile-pic{
    padding: 0 0.5rem 0.7rem 0;
    
    /* border: solid; */
}
#profile-pic img{
    border: 1px solid var(--white-color);
    width: 90%;
    border-radius: 50%;
    cursor: pointer;
}
#profile .notification{
    
   
}
#profile .notification::after{
    content: ' ';
    background-color: var(--main-color); 
    height: 10px;
    width: 10px;
    transform: rotateZ(45deg);
    position: absolute;
    top: -8%;
    left: 45%;
    right: 45%;  
}
#profile-name{
    padding-top: 0.5rem;
}
#profile-name h2{
    font-size: 26px;
    line-height: 1.25;
    font-weight: 500;
}
#profile-name p{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color:  var(--sec-color);
}
.status:hover{
    color: var(--link-color);
    cursor: pointer;

}
.status{
    display: flex;
    height: 32px;
    align-items: center;
    overflow: hidden;
}
.status .iconify{
    margin-right: 0.5rem;
    font-size: 16px;
    color: var(--sec-color);
    
}
.status-emoji{
    font-size: 15px;
    margin-right: 0.5rem;
}
#profile .btn{
    color: var(--main-color);
    border: 1px solid var(--white-color);
    width: 100%;
    padding: 5px 16px;
    line-height: 20px;
    align-self: center;
}
#edit-profile{
    color: var(--main-color);
}
#edit-profile textarea{
    font-size: 14px;
    padding: 8px 12px;
    line-height: 1.5;
    margin: 0px;
    width: 100% !important;
    box-shadow :rgba(225, 228, 232, 0.2) 0px 1px 0px 0px;
}
#edit-profile input{
    margin-bottom: 0;
    min-height: 28px;
    /* margin-left: 8px; */
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    line-height: 20px;
    outline: none;
}
.bio{
    line-height: 24px;
    font-size: 16px;
    padding-bottom: 1rem;
    display: none;
}
#edit-profile .form-group{
    display: flex;
    align-items: center;
}
.info{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
}
.info-item{
    cursor: pointer;
    font-size: 14px;
    align-self: start;
}
.info-item:nth-child(1), .info-item:nth-child(2),
.info-item:nth-child(4){
    display: none;
}
.info-item:hover{
    color: var(--link-color);
}
.info-item .iconify, .info-item i{
    line-height: 21px;
    font-size: 15px;
    color:  var(--sec-color);
    margin-top: 3px;
    margin-right: 0.5rem;
}
#edit-profile .form-group .iconify,
#edit-profile .form-group i{
    margin-right: 0.5rem;
    margin-top: 0.8rem;
    color: var(--sec-color);
}
#profile-btns{
    display: flex;
    margin: 1rem 0 0 0;
}
#edit-profile #save{
    font-size: 12px;
    width: auto;
    color: white;
    margin-right: 0.5rem;
    line-height: 20px;
    padding: 3px 12px;
    box-shadow :rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03);
}
#edit-profile #cancel{
    font-size: 12px;
    padding: 3px 12px;
    width: auto;
    box-shadow :rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
}
#fllw{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: var(--sec-color);
    flex-wrap: wrap;
}
.group{
    display: flex;
}
#fllw .group:hover{
    color: var(--link-color);
    cursor: pointer;
}
#fllw .count, .star-count{
    font-weight: 600;
    color: var(--main-color);
}
.star-count{
    margin-left: 0.3rem;
    margin-bottom: 0.1rem;
}
#fllw p, .star-count{
    font-size: 14px;
}
#fllw .iconify:nth-child(1),
#fllw .iconify:nth-last-child(2){
    margin-top: 0.2rem;
}
#fllw .iconify:nth-last-child(2){
    margin-left: 0.2rem;
}
#fllw .dot{
    margin: 0.3rem 0 0 0.2rem;
    font-size: 4px;
    display: flex;
    
    height: 10px;
    align-self: center;
    /* border: solid; */
    
}
/* Tabs */
#tabs{
    display: flex;
    border-bottom: solid 1px #d1d5da;
}
.tab:nth-child(2){
    margin-left: 1rem;
}
.tab:nth-child(3){
    font-weight: 600;
    display: flex;
    border-bottom-color: #f9826c;
}
.tab:nth-child(3):hover{
    border-bottom-color: #f9826c;
}
.counter{
    margin: 5px 0 0 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 20px;
    min-width: 20px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    background-color: rgba(209, 213, 218, 0.5);
    border: 1px solid transparent;
}
.tab{
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 16px;
    color: var(--main-color);
    border-bottom: solid 2px transparent;
}
.tab .iconify{
    display: none;
}
.tab:hover{
    border-bottom: solid 2px #d1d5da;
}

/* Search */
#search{
    padding: 9px 0;
    display: flex;
    flex-direction: column;
    
}
#search #find{
    font-size: 14px;
    padding: 4px 10px;
}
#search #btns{
    align-self: center;
    padding: .5rem 0;
    display: flex;
    column-gap: .5rem;
    width: 100%;
}
#search .btn{
    color: var(--sec-color);  
    padding: 6px 1.3rem;
    text-align: center;
}
#search .btn i{
    font-size: 12px     ;
    margin: 0 0 0 8px;
    margin-top: 3px;
    color: var(--sec-color);
}
#search .btn:nth-child(1){
    padding: 6px 1rem;
}
#search .btn:nth-child(3){
    color: white;
    margin-left: auto;
    padding: 6px 1rem;
}
#search .btn:nth-child(3) .iconify{
    font-size: 16px;
    margin: 2px 5px 0 0;
}
/* Repos */
#repos{
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    border-bottom: solid 1px var(--white-color);
}
#repos .repo{
    display: grid;
    grid-template-columns: 87% 13%;
    align-self: center;
    width: 100%;
    border-top: solid 1px var(--white-color);
    padding: 1.60rem 0;
}
#repos .repo .repo-name{
    color: var(--link-color);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
}
#repo-desc h3{
    display: flex;
}
.description{
    font-size: 14px;
    color: var(--sec-color);
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}
.private{
    border-radius: 24px;
    border: 1px solid var(--white-color);
    color:  rgb(88, 96, 105);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0.6rem;
    padding: 0 0.5rem;
    align-self: center;
}
#repos .repo .repo-name:hover{
    text-decoration: underline;
}
#repos .repo .desc{
    display: flex;
    margin-top: 0.9rem;
}
#repos .repo .desc .repo-language {
    margin-left: 0;
    margin-right: 3px;
    position: relative;
    
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
#repos .repo .desc p{
    margin: 0 1rem 0 0;
    font-size: 12px;
    color: rgb(88, 96, 105);
    display: flex;
    align-items: center;
}
#repos .repo .desc p .iconify{
    width: 16px;
    line-height: 18px;
    font-size: 16px;
}
#repos .repo .star{
    font-size: 12px;
    display: flex;
    justify-self: end;
    align-self: center;
    padding: .3rem 0;
    color: var(--main-color);
    font-weight: 500;
    width: 67px;
}
#repos .repo .star .iconify{
    color: var(--sec-color);
    font-size: 16px;
    margin-right: 5px;
}

/* Footer */
footer{
    padding: 3rem;
    font-size: 12px;
    display: flex;
    margin: 4rem 1rem 0 1rem ;
    border-top: solid 1px var(--white-color);
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-link{
    color: var(--link-color);
    margin: 0 0.3rem;
    text-decoration: none;
}
.footer-link:hover{
    text-decoration: underline;
}

/* Modal */
.modal{
    padding: 0 2rem;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
    background-color: white;
    position: fixed;
    z-index: 99;
    display: flex;
    max-height: 66%;
    width: 100%;
    line-height: 1.5;
    overflow: hidden;
    flex-direction: column;
    border: 1px solid #d1d5da; 
    border-radius: 12px;
    box-shadow: rgba(27, 31, 35, 0.4) 0px 0px 18px 0px;
}
.modal #top{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}
.modal #close{
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    color:  #9f9fa0;
}
.modal #close:hover{
    color: var(--main-color);
}
#modal-list{
    overflow-y: auto;
    background-color: white
}
.modal-item{
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    overflow: hidden;
    color: var(--main-color);
    text-align: left;
    border: 0;
    border-top: 1px solid  var(--white-color);
}
.modal-item:hover{
    background-color: var(--btn-color);
}
.modal-item .checked{
    margin-left: 0.6rem;
}
.modal-item p{
    margin-left: 2.6rem;
    /* border: solid; */
}
.modal-item .iconify{
    margin-left: 1rem;
    /* margin-right: 0.5rem; */
    font-size: 1rem;
}

/* Status */
#status-modal{
    flex-direction: column;
    padding: 0 1rem;  
    justify-content: flex-start;
    padding-top: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
}
#status-modal .modal-content{
    border-radius: 6px;
    max-width: 460px;
    max-height: 75%;
    overflow-y: auto;
    position: relative;
}
#status-modal #top{
    background-color: rgb(246, 248, 250);
    border-bottom: solid 1px var(--white-color);  
}
#status-modal input{
    background-color: rgb(246, 248, 250);
    margin-top: 1rem;
    font-size: 14px;
    border-radius: 0;
}
#inputs{
    display: flex;
    flex-direction: column; 
}
#wh{
    display: flex;
}
#wh #smiley{
    background-color: rgb(246, 248, 250);
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0.1rem 1rem;
    font-size: 16px;
    border: solid 1px;
    height: 35px;
    border: 1px solid var(--white-color);
    border-radius: 6px 0 0 6px;
    color: inherit;
}
#wh #smiley:hover{
    background-color: var(--link-color);
    cursor: pointer;
}
#wh .iconify{
    color: var(--sec-color);
}

#status-modal #close:hover{
    color: var(--link-color);
}
#suggestions{
    font-size: 12px; 
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding-top: 0.6rem;
    padding-bottom: 1.3rem;
    color: #646c75;
    display: none;
}
#suggestion{
    padding-bottom: 0.1rem;
}
.sug-ctn{
    display: flex;
}
.sug-ctn:nth-child(2),
.sug-ctn:nth-child(4){
    padding-left: 0.6rem;
}
.emoji{
    padding: 0 0.7rem;
}
#suggestions p:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 0.8rem;
    color: var(--main-color);
}
#suggestions #suggestion:hover{
    color: var(--link-color);
    cursor: pointer;
}
#checkbox{
    display: flex;
    align-items: center;
    font-size: 14px; 
    font-weight: 600;  
}
#checkbox input{
    width: 20px;
    margin-top: 0.6rem;
    margin-right: 0.35rem;
}
.p{
    color: #565758;
    padding: 0;
    font-size: 12px;
    display: flex;
    margin-left: 1.7rem;
    margin-bottom: 1rem;
}
.add-on{
    margin-left: 1rem;
}
#options{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px var(--white-color);
    border-bottom: solid 1px var(--white-color);
}
.status-option{
    font-size: 14px;
    align-items: center;
    display: flex;
    padding: 1rem 1rem;
}
.status-option .btn{
    margin-left: 0.5rem;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.2rem 0.6rem;
}
.status-option i{
    margin: 0.3rem 0 0 0.5rem;
}
#status-btns{
    width: 100%;
    display: flex;
}
#status-btns .btn{
    width: 100%;
    margin: 1rem 1rem;
}
#status-btns .btn:nth-child(1){
    margin-left: 1rem;
    margin-right: 0rem;
}
.dropdown{
    box-shadow :rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #d1d5da;
    position: fixed;
    width: 220px;
    max-height: 186px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding: 4px 0;
    margin-top: 2px;
    overflow-y: auto;
    top: 45.5%;
    /* left: 33.5vw; */
    right: 40vw;
}
.dropdown-option{
    text-decoration: none;
    font-size: 12px;
    padding: 0.5rem 1rem;
    color: var(--main-color);
}
.dropdown-option:hover{
    background-color: var(--link-color);
    color: white;
}
.dropdown-option:nth-child(1){
    
    margin: 0.1rem 0 0.5rem 0;
    padding-bottom: 0.5rem ;
}
.dropdown-option:nth-child(2){
    border-top: 1px solid var(--white-color);
    
}
.dropdown-option:nth-child(1) p:nth-child(1){
    font-weight: 600;
}
#two{
    left: 54%;
    padding-bottom: 0.5rem;
}
#two a:nth-child(2){
    display: flex;
    align-content: center;
}
.org{
    width: 16px;
    height: 16px;
    line-height: 12px;
    margin-bottom: 4px;
    margin-right: 4px;
}
.org img{
    width: 100%;
    border-radius: 50%;
}

/* Language all */
#type-all .modal-content{
    width: 90%;
    max-height: 62%;
}
#lang-all .modal-content{
    width: 90%;
}

/* Media */
@media screen and (max-width: 420px){
    body{
        width: 100vw !important;
    }
    .tab:nth-child(2){
        margin-left: 0.5rem;
    }
    .tab{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media screen and (max-width: 360px){
    body{
        width: 100vw !important;
    }
    .tab, #btns .btn{
        font-size: 11px;
    }
}

