#header{
 
    
}
#menu{
    display: none;
}

#logo{
    padding: 0;
    padding-left: 0.5rem;
    font-size: 32px;
}
.header-group{
    display: flex;
    flex-direction: row;
    
}
.header-group:nth-child(2){
    /* border: solid; */
    width: 80%;

}
.header-group:nth-child(3){
    /* border: solid; */
    width: 19%;
    margin-left: 1rem;
    
    justify-content: flex-end;
}
nav.d-none{
    display: flex;
}
nav{
    
    flex-direction: row;
    width: 600px;
    padding: 0;
    align-items: center;
    justify-content: center;
}
nav .nav-input{
    width: 100%;
    margin: 0;
    margin-left: 1rem;
}
.nav-link{
    padding: 0 0.5rem;
    border: none;
}
.hide{
    display: none;
}
.nav-link:nth-last-child(2){
    display: none;
}
a.d-none{
    display: flex;
    margin-top: 0.4rem;
    font-size: 16px;
    color: white;
}
.header-group:nth-child(3) a{
    margin: 0 0.6rem;
}
.header-group a.d-none:nth-child(2){
    margin-top: 0.6rem;  
    margin-right: 0; 
}
.header-group a.d-none:nth-child(3){
    margin-right: 0.4rem;
}
.header-group a.d-none:nth-child(3) .iconify{
    align-self: center;
}
.header-group a.d-none:nth-child(3) .nav-pic{
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    
}
.header-group a.d-none:nth-child(2):hover, .header-group a.d-none:nth-child(3):hover{
    color: #d1d5da;
    
}


.display{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    /* border: solid; */
}
#right.container{
    
}
/* Profile*/
#left{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-self: flex-start;
    order: 0;
    /* border: solid; */
    position: absolute;
    top: 15%;
    margin-left: 1rem;
}
#profile{
    
}
#profile-info{
    display: flex;
    flex-direction: column;
}
#profile-pic img{
    width: 95%;
}
.info-item:nth-child(1), .info-item:nth-child(2),
.info-item:nth-child(4){
    display: block;
}
/* Tabs */
#tabs{
    order: -1;
    height: 26%;
    margin-top: 1.5rem;
    max-width: 1500px;
    
}
.tab{
    display: flex;
    
}
.tab .iconify{
    display: block;
    font-size: 16px;
    line-height: 30px;
    margin-right: 0.5rem;
    /* border: solid; */
    align-self: center;
    color: rgb(149, 157, 165);
}
.tab:nth-child(1){
    margin-left: 27%;
    
}
.tab:nth-child(2) .iconify{
    font-weight: 800;
    color: #24292e;
    
}
/* Search */
#right{
    align-self: flex-end;
    order: -1;
    width: 72.5%;
    flex-direction: column;
    display: flex;
    margin-right: 1rem;
}
#search{
    display: flex;
    flex-direction: row;
    
}
#search #find{
    width: 100%;
    
}
#btns{
    margin-left: 1rem;
    justify-self: flex-end;
    align-self: end;
    border: solid;
    display: flex;

}
#btns .btn:nth-child(1){
    width: 120%;
}
#btns .btn:nth-child(2){
    position: relative;
    left: 17px;
  width: 130%;
    
}
#search .bg-green{
    position: relative;
    left: 10px;
    width: 90%;
}
#repos{
    
} */
/* Footer */
footer{
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

/* setBtn.style.opacity = 0.4;
            setBtn.style.cursor = 'default';
            setBtn.style.opacity = 1;
            setBtn.style.cursor = 'pointer'; */